/* COMMON STYLES */

@font-face {
    font-family: "Cera-pro-black";
    src: url(../fonts/CeraPro-Black.ttf);
}

@font-face{
    font-family: "Cera-pro-bold";
    src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face{
    font-family: "Cera-pro-med";
    src: url(../fonts/CeraPro-Medium.ttf);
}

@font-face{
    font-family: "Cera-pro-reg";
    src: url(../fonts/CeraPro-Regular.ttf);
}
:root{
    --primary-gray-color: #3D3D3D;
    --primary-hover-gray-color: #585858;
    --primary-green-color: #46A358;
}

*{
    font-family: "Cera-pro-reg";
}

button{
    cursor: pointer;
}
.green-button{
    background: var(--primary-green-color);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    transition: 0.4s ease;
}
.green-button:hover{
    opacity: 0.8;
}
.green-text{
    color: var(--primary-green-color);
}

/* -- STYLES FOR MAIN PAGE -- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* -- HEADER -- */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 53px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
header nav{
    width: 29.25%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
nav a{
    position: relative;
    flex-shrink: 0;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
nav a:hover{
    font-weight: 700;
    border-bottom: 3px solid var(--primary-green-color);
}
.header__button-wrapper{
    display: flex;
}
.header__button-wrapper a{
    align-self: flex-start;
}
.icon-wrapper{
    position: relative;
    margin-right: 30px;
}
.icon-wrapper .counter{
    box-sizing: content-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    top: 2px;
    right: -8px;
    font-size: 10px;
    line-height: 12;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background: var(--primary-green-color);
    border-radius: 50%;
}
.header__search-cart-buttons-wrapper {
    display: flex;
}
.header__search-cart-buttons-wrapper .header-icon{
    width: 20px;
    height: 20px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}
.header__search-cart-buttons-wrapper .header-icon:hover{
    opacity: 0.5;
}

/* -- STYLES FOR DROPDOWN MENU -- */
nav a:hover .nav__dropdown-menu{
    visibility: visible;
    opacity: 1;
}
.nav__dropdown-menu{
    width: 188px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top : 12px;
    transform:translateX(-60px) translateY(44px);
    transition: 0.5s ease-in-out;
    list-style-type: none;
    background: #EDF6EE;
}
.nav__dropdown-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0 7px 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #3D3D3D;
}
.nav__dropdown-menu .item-with-dropdown{
    position: relative;
    transition: 0.3s ease-in-out;
}
.nav__dropdown-menu .item-with-dropdown .item-with-dropdown__icon{
    vertical-align: middle;
    width: 8px;
    height: 11px;
    margin-right: 17px;
    fill: #3D3D3D;
    transition: 0.3s ease-in-out;
}
.nav__dropdown-menu li:hover{
    font-weight: 700;
    color: #FFFFFF;
    background: #1A712A;
}
.nav__dropdown-menu .item-with-dropdown:hover .item-with-dropdown__icon{
    transform: rotate(180deg);
    fill: #fff;
}
.nav__dropdown-menu .inner-dropdown-menu{
    visibility: hidden;
    opacity: 0;
    min-width: 180px;
    color: #3D3D3D;
    background: #EDF6EE;
    margin-left: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(188px) translateY(-43%);
    transition: 0.5s ease-in-out;
}
.nav__dropdown-menu .item-with-dropdown:hover .inner-dropdown-menu{
    visibility: visible;
    opacity: 1;
}
nav a:last-child{
    margin-right: 0px;
}

.logo-icon{
    display: inline-block;
    max-width: 150px;
    max-height: 35px;
    vertical-align: top;
}

#header-login-button{
    font-size: 16px;
    line-height: 20px;
    padding: 9px 18px;
    cursor: pointer;
    text-decoration: none;
}
.icon-login-button{
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-right: 6px;
}

/* -- HERO -- */

main{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 43px;
    background: rgba(245, 245, 245, 0.5);
    font-size: 0;
}

.left-side-section{
    max-width: 47%;
    vertical-align: top;
    margin-top: 68px;
}

.left-side-section h1{
    color: #3D3D3D;
    letter-spacing: 0.1rem;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.left-side-section h2, 
.left-side-section h2 span {
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: "Cera-pro-black";
}

.left-side-section h2{
    color: #3D3D3D;
}

.left-side-section p{
    max-width: 557px;
    color: #727272;
    line-height: 24px;
    margin-top: 5px;
}

#shop-now-button{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px 26px;
    margin-top: 44px;
    letter-spacing: 1px;
}

.right-side-section{
    max-width: 44%;
}
.right-side-section img{
    width: 100%;
}

/* -- STYLES FOR SHOP SECTION -- */

.shop-section{
    margin-top: 46px;
}
.shop-section__wrapper{
    display: flex;
    justify-content: space-between;
}

.shop-section ul{
    list-style-type: none;
}



.shop-section .shop-section__right-side{
    max-width: 70%;
}

/* -- ASIDE -- */

.shop-section aside{
    max-width: 28%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FBFBFB;
}

aside h2{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 36px;
    margin-left: 18px;
    margin-bottom: 20px;
}
aside h2:first-child{
    margin-top: 0;
}
aside ul li{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 24px;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
aside ul li a{
    text-decoration: none;
    color: var(--primary-gray-color);
}
aside ul li.active-cat a,
aside ul li.active-cat span{
    font-weight: 700;
    color: var(--primary-green-color);
}
aside ul li:hover a,
aside ul li:hover span{
    font-weight: 700;
}
.aside__category-wrapper .price-range-container{
    margin-left: 30px;
}
.aside__category-wrapper .price-range-container .range{
    position: relative;
    max-width: 210px;
    height: 5px;
    margin-top: 29px;
    border-radius: 4px;
    background: linear-gradient(to right, var(--primary-green-color) 70%, #D7EADB 30%);
}
.range .circle{
    position: absolute;
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    top: -7px;
    background: var(--primary-green-color);
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}
.range .max-range{
    right: 24%;
}
.price-range-container .price{
    margin: 21px 0 16px 0;
    font-size: 15px;
    line-height: 16px;
}
.price-range-container .price span{
    font-weight: 700;
}
.price-range-container button{
    padding: 8px 26px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    transition: 0.4s ease;
}
.price-range-container button:hover{
    opacity: 0.8;
}
.shop-section aside img{
    display: block;
    width: 100%;
}
.sort-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.sort-panel nav{
    display: flex;
    column-gap: 40px;
}
.sort-panel .sort-panel__sort-wrapper{
    display: flex;
    align-items: center;
}
.sort-button{
    position: relative;
    display: block;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 16px;
}
.sort-button:last-child{
    margin-right: 0;
}
.sort-panel nav .active-sort::after{
    content: '';
    left: 0;
    bottom: -7px;
    width: 100%;
    position: absolute;
    border-bottom: 2px solid var(--primary-green-color);
}
.sort-panel nav .active-sort{
    font-weight: 700;
    color: var(--primary-green-color);
}
.sort-panel nav .sort-button:hover{
    font-weight: 700;
    color: var(--primary-hover-gray-color);
}
.sort-panel nav .active-sort:hover{
    color: var(--primary-green-color);
}
.sort-panel__sort-wrapper .sort-button:hover{
    font-weight: 700;
    color: var(--primary-hover-gray-color);
}
.sort-panel p{
    font-size: 15px;
    line-height: 16px;
    margin-right: 8px;
}
.sort-panel .sort-button__icon{
    width: 12px;
    height: 8px;
    vertical-align: middle;
}

/* -- STYLES FOR SHOP CARDS -- */

.shop-cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
}
.card{
    width: calc(33.333% - 30px);
}
.card-img{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    cursor: pointer;
}
.card-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.card-img::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background:var(--primary-green-color);
    opacity: 0;
    transition: 0.5s ease;
}
.card-img:hover::before{
    opacity: 1;
}
.card-img:hover .feature-bar{
    opacity: 1;
}
.card-details{
    margin-top: 12px;
    line-height: 16px;
}
.card-details .name{
    font-size: 16px;
    margin-bottom: 6px;
}
.card-details .price{
    font-size: 18px;
    font-weight: 700;
}

/* -- FEATURE BAR FOR CARDS -- */

.feature-bar{
    position: absolute;
    display: flex;
    align-self: center;
    bottom: 7px;
    column-gap: 10px;
    opacity: 0;
    transition: 0.5s ease;
}
.feature-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
}
.feature-bar button img{
    width: 20px;
    height: 20px;
}
.feature-bar .feature-bar__icon{
    display: block;
    width: 20px;
    height: 20px;
    fill: #3D3D3D;
}
.feature-bar button:hover .feature-bar__icon{
    fill: var(--primary-green-color);
}

/* -- SALE ON CARDS -- */

.price-wrapper{
    display: flex;
    column-gap: 16px;
}

.price-wrapper .actual-price{
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
}

.sale-flag{
    font-family: "Cera-pro-med";
    padding: 7px 9px;
    position: absolute;
    top: 14px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: var(--primary-green-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
    


/* -- STYLES FOR PAGINATION -- */

.pagination{
    display: flex;
    justify-content: end;
    margin-top: 90px;
    margin-bottom: 60px;
}
.pagination ul{
    display: flex;
}
.pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 16px;
    margin-right: 10px;

    border: 1px solid #E5E5E5;
    border-radius: 4px;

    cursor: pointer;
    transition: 0.4s ease;
}

.pagination .active-pag{
    font-weight: 700;
    color: #FFFFFF;
    background: var(--primary-green-color);
    border-color: var(--primary-green-color);
}
.pagination .icon-next-page{
    width: 8px;
    height: 12px;
    stroke: var(--primary-gray-color);
    stroke-width: 1.5;
    transition: 0.4s ease;
}
.pagination li:hover{
    font-weight: 700;
    color: #FFFFFF;
    background: #c7c7c7;
    border-color: #c7c7c7;
}
.pagination li.active-pag:hover{
    background: var(--primary-green-color);
    opacity: 0.8;
}
.pagination li:hover .icon-next-page{
    stroke: #FFFFFF;
    stroke-width: 2.5;
}
.pagination li:last-child{
    margin-right: 0;
}

/* -- INFO-BLOG SECTION -- */

.information-section{
    margin: 140px 0 100px 0;
}

.information-section .info-cards-wrapper{
    display: flex;
    justify-content: space-between;
}

.information-section .info-card{
    position: relative;
    min-width: 48.834%;
    min-height: 250px;
    padding-top: 3%;
    padding-bottom: 3.667%;
    padding-right: 2.5%;
    background: #FBFBFB;
}
.information-section .info-card .img-wrapper{
    position: absolute;
    left: 0;
    bottom: 14px;
    max-width: 48.977%;
    max-height: 292px;
}
.information-section .info-card img{
    max-width: 100%;
    height: 100%;
}

.information-section .info-card .descrtiption{
    max-width: 52.52%;
    margin-left: auto;
}
.info-card .title{
    max-width: 150px;
    margin-left: auto;

    font-family: "Cera-pro-black";
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #3D3D3D;
}
.info-card .text{
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 8px;
}
.information-section .info-card button{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 24px;
    padding: 11px 26px;
    transition: 0.4s ease;
}
.info-card button .icon-find-more-arrow{
    stroke: #FFFFFF;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    transition: 0.4s ease;
}

.information-section .info-card button:hover{
    opacity: 0.8;
}
.information-section .info-card button:hover .icon-find-more-arrow{
    opacity: 0.8;
}

/* -- BLOG POSTS SECTION -- */

.blog-posts-section{
    margin-top: 138px;
}
.blog-posts-section .blog-posts-section__title{
    font-family: "Cera-pro-bold";
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.blog-posts-section .blog-posts-section__subtitle{
    text-align: center;
    color: #727272;
    line-height: 24px;
}
.blog-posts-section .blog-posts-section__card-wrapper{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.blog-posts-section__card-wrapper .blog-card{
    max-width: 22.334%;
    background: #FBFBFB;
}
.blog-card .blog-img-wrapper{
    max-height: 196px;
}
.blog-card .blog-img-wrapper img{
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}
.blog-posts-section__card-wrapper .blog-card .blog-card-description{
    padding: 15px 0 15px 15px;
}
.blog-card-description .blog-card-descritpion__date-info-text{
    font-family: "Cera-pro-med";
    line-height: 16px;
}
.blog-card-description .blog-card-descritpion__title{
    font-family: "Cera-pro-black";
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;

    max-width: 81%;
    margin: 4px 0;

    cursor: pointer;
}

.blog-card-description .blog-card-descritpion__text{
    line-height: 22px;
    color: #727272;

    max-width: 95.656%;

    cursor: pointer;
}

.blog-card-description .blog-card-descritpion__button{
    display: flex;
    align-items: center;
    font-family: "Cera-pro-med";
    margin-top: 9px;
    border: none;
    background: none;
    color: #3D3D3D;
    line-height: 16px;
}

.blog-card-descritpion__button .icon-read-more-arrow{
    width: 12px;
    height: 11px;
    fill: var(--primary-gray-color);
    margin-left: 5px;
}
.blog-card-descritpion__button:hover {
    color: var(--primary-green-color);
}
.blog-card-descritpion__button:hover .icon-read-more-arrow{
    width: 12px;
    height: 11px;
    fill: var(--primary-green-color);
    margin-left: 5px;
}

.blog-card-description .blog-card-descritpion__button img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/* -- STYLES FOR FOOTER -- */

footer h2{
    font-family: "Cera-pro-bold";
    color: #3D3D3D;
    font-size: 18px;
    line-height: 16px;
}

/* -- FOOTER NEWSLETTER SECTION -- */

.footer-newsletter{
    display: flex;
    justify-content: space-between;
    padding: 24px 25px;
    background: #FBFBFB;
}

.footer-newsletter__card-wrapper{
    display: flex;
    column-gap: 30px;
}

.footer-newsletter__card-wrapper .horizontal-divider{
    width: 1px;
    height: 187px;
    background: #46A3581A;
}

.footer-newsletter__information__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 204px;
}
.footer-newsletter__information__card h2{
    font-size: 17px;
    margin: 15px 0 9px 0;
}
.footer-newsletter__information__card p{
    line-height: 22px;
    color: #727272;
}
.bg-image-container{
    height: 90px;
}

.footer-newsletter__card-wrapper .bg-card-img{
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-newsletter__card-wrapper .card-1 .bg-card-img{
    background-image: url(../images/footer/footer-newsletter-img-1.png);
}
.footer-newsletter__card-wrapper .card-2 .bg-card-img{
    background-image: url(../images/footer/footer-newsletter-img-2.png);
}
.footer-newsletter__card-wrapper .card-3 .bg-card-img{
    background-image: url(../images/footer/footer-newsletter-img-3.png);
}

.footer-newsletter__form-block{
    max-width: 30.78%;
}

.footer-newsletter__form-block h2{
    
    font-size: 18px;
    line-height: 16px;

    margin-top: 13px;
    margin-bottom: 25px;
}

.footer-newsletter__form-block p{
    font-size: 13px;
    line-height: 22px;
    color: #727272;

    margin-top: 18px;
}

.footer-newsletter__form-block form{
    display: flex;
}

.footer-newsletter__form-block form input{
    padding: 11px 0 12px 12px;
    width: 100%;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.footer-newsletter__form-block form input:focus{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    outline: none;
}
.footer-newsletter__form-block form input::placeholder{
    color: #ACACAC;
}

.footer-newsletter__form-block form button{
    font-family: "Cera-pro-bold";
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 12px 25px;
}

/* -- FOOTER CONTACTS SECTION -- */

.footer-contacts{
    display: flex;
    padding: 0 23px;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
}

.footer-contacts .footer-contacts__item{
    max-width: 205px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.footer-contacts .footer-contacts__item .footer-contacts__item__icon{
    min-width: 20px;
    height: 20px;
    stroke: var(--primary-green-color);
}
.footer-contacts .footer-contacts__item a{
    color: #3D3D3D;
    text-decoration: none;
    line-height: 22px;
}
.footer-contacts .footer-contacts__item:hover a{
    font-weight: 700;
}

/* -- FOOTER DETAILS SECTION -- */

.footer-details{
    display: flex;
    padding: 33px 25px 27px 25px;
    background: #FBFBFB;
    border-bottom: 1px solid #46A35833;
}

.footer-details__navigation{
    display: flex;
}

.footer-details__navigation .account-nav{
    margin-right: 164px;
}
.footer-details__navigation .help-guide-nav{
    margin-right: 129px;
}

.footer-details__navigation h2{
    margin-bottom: 12px;
}

.footer-details__navigation ul{
    list-style: none;
}

.footer-details__navigation ul li{
    margin-bottom: 12px;
    cursor: pointer;
}
.footer-details__navigation ul li:hover{
    font-weight: 700;
    color: var(--primary-hover-gray-color);
}
.footer-details__navigation ul li:last-child{
    margin-bottom: 0;
}
.footer-details__social-and-payments-container{
    margin: 0 auto;
}
.footer-details__social-media h2{
    margin-bottom: 20px;
}
.footer-details__payments-methods{
    margin-top: 33px;
}
.footer-details__payments-methods h2{
    margin-bottom: 13px;
}
.footer-details__social-media .media-icon-container{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #46A35833;
    border-radius: 4px;
    transition: 0.4s ease;
}
.footer-details__social-media .media-icon-container .footer-social-icon{
    max-width: 18px;
    height: 16px;
    transition: 0.4s ease;
}
.footer-details__social-media .media-icon-container:hover{
    opacity: 0.8;
    border-color: var(--primary-green-color);
}
.footer-details__social-media .media-icon-container:hover .footer-social-icon{
    opacity: 0.8;
}
.footer-details__social-media__icons{
    display: flex;
    column-gap: 10px;
}

footer .copyright-text{
    margin: 8px 0 22px 0;
    text-align: center;
    line-height: 30px;
}


/* -- STYLES FOR REGISTRATION PAGE -- */

.modal-window-container{
    max-width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
}
.close-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}
.modal-close-button{
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    margin-top: 13px;
    margin-right: 13px;
    padding: 0;
    cursor: pointer;
}
.modal-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 300px;
    margin: 0 auto;
}
.registration_button{
    font-family: "Cera-pro-med";
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}
.divider{
    color: #3D3D3D;
    font-size: 16px;
    margin: 0 12px;
}
.focused{
    color: #46A358;
}
.registration-button-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.label-text{
    margin: 0;
    line-height: 16px;
    align-self: start;
}
.registration-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.another-registration-actions-container{
    width: 100%;
}
.another-registration-actions-divider{
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 27px;
}
.another-registration-actions-divider::before,
.another-registration-actions-divider::after{
    content: "";
    width: 30.67%;
    border-bottom: 1px solid #EAEAEA;

}
.another-registration-actions-divider::before{
    margin-right: 7px;
}
.another-registration-actions-divider::after{
    margin-left: 7px;
}
.registration-form input{
    width: 100%;
    display: block;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 12px 0px 12px 14px;
    margin-bottom: 16px;
}
.password-input-wrapper{
    position: relative;
}
.password-input-wrapper::after{
    content: url("../images/hide_password_icon.svg");
    position: absolute;
    display: inline;
    width: 20px;
    height: 20px;
    top: 13px;
    right: 13px;
}
#register-button{
    font-family: "Cera-pro-bold";
    display: block;

    font-size: 16px;
    line-height: 16px;
    
    font-weight: 700;

    width: 100%;
    margin: 0 auto;
    margin-top: 41px;
    padding: 16px 0;
}
.continue-with-button{
    font-family: "Cera-pro-med";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 15px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #727272;

    cursor: pointer;
}
#continue-with-facebook-button::before{
    content: url("../images/facebook_icon.svg");
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
#continue-with-google-button::before{
    content: url("../images/google_icon.svg");
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
.modal-footer-line{
    margin-top: 40px;
    height: 10px;
    background: #46A358;
}