/* COMMON STYLES */

@font-face {
    font-family: "Cera-pro-black";
    src: url(../fonts/CeraPro-Black.ttf);
}

@font-face{
    font-family: "Cera-pro-bold";
    src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face{
    font-family: "Cera-pro-med";
    src: url(../fonts/CeraPro-Medium.ttf);
}

@font-face{
    font-family: "Cera-pro-reg";
    src: url(../fonts/CeraPro-Regular.ttf);
}

*{
    font-family: "Cera-pro-reg";
}

button{
    cursor: pointer;
}
.green-button{
    background: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.green-text{
    color: #46A358;
}

/* -- STYLES FOR MAIN PAGE -- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* -- HEADER -- */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 53px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
header nav{
    width: 29.25%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
nav a{
    position: relative;
    flex-shrink: 0;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
nav a:hover{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}
nav a:hover .nav__dropdown-menu-wrapper{
    visibility: visible;
}
.nav__dropdown-menu-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 180px;
    visibility: hidden;
    position: absolute;
    top : 12px;
    transform:translateX(-60px);
}
.nav__dropdown-menu{
    width: 188px;
    list-style-type: none;
    background: #EDF6EE;
}
.nav__dropdown-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0 7px 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #3D3D3D;
}
.nav__dropdown-menu .item-with-dropdown{
    position: relative;
}
.nav__dropdown-menu .item-with-dropdown:hover{
    font-weight: 700;
    color: #FFFFFF;
    background: #1A712A;
}
.nav__dropdown-menu .item-with-dropdown::after{
    content: url("../images/header/icon_dropdown_menu_arrow_right.svg");
    margin-right: 17px;
}
.nav__dropdown-menu .item-with-dropdown:hover::after{
    content: url("../images/header/icon_dropdown_menu_arrow_left.svg");
    margin-right: 17px;
}
.inner-dropdown-menu-wrapper{
    min-width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(188px) translateY(-43%);
}
.nav__dropdown-menu .inner-dropdown-menu{
    visibility: hidden;
    color: #3D3D3D;
    background: #EDF6EE;
    margin-left: 2px;
}
.nav__dropdown-menu .item-with-dropdown:hover .inner-dropdown-menu{
    visibility: visible;
}
nav a:last-child{
    margin-right: 0px;
}

.logo-icon{
    display: inline-block;
    max-width: 150px;
    vertical-align: top;
}

#header-login-button{
    font-size: 16px;
    line-height: 20px;
    padding: 9px 18px;
    cursor: pointer;
}

.login-icon{
    width: 20px;
    vertical-align: bottom;
    margin-right: 6px;
}

/* -- HERO -- */

main{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 43px;
    background: rgba(245, 245, 245, 0.5);
    font-size: 0;
}

.left-side-section{
    max-width: 47%;
    vertical-align: top;
    margin-top: 68px;
}

.left-side-section h1{
    color: #3D3D3D;
    letter-spacing: 0.1rem;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.left-side-section h2, 
.left-side-section h2 span {
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: "Cera-pro-black";
}

.left-side-section h2{
    color: #3D3D3D;
}

.left-side-section p{
    max-width: 557px;
    color: #727272;
    line-height: 24px;
    margin-top: 5px;
}

#shop-now-button{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px 26px;
    margin-top: 44px;
    letter-spacing: 1px;
}

.right-side-section{
    max-width: 44%;
}
.right-side-section img{
    width: 100%;
}

/* -- STYLES FOR SHOP SECTION -- */

.shop-section{
    margin-top: 46px;
}
.shop-section__wrapper{
    display: flex;
    justify-content: space-between;
}

.shop-section ul{
    list-style-type: none;
}

.shop-section aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 28%;
    background: #FBFBFB;
}

.shop-section .shop-section__right-side{
    max-width: 70%;
}

/* -- ASIDE -- */

aside h2{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 20px;
}
aside ul li{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
}
aside .active-cat{
    font-family: "Cera-pro-bold";
    color: #46A358;
}
.shop-section aside img{
    display: block;
    width: 100%;
}
.sort-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.sort-panel nav{
    display: flex;
    column-gap: 40px;
}
.sort-panel .sort-panel__sort-wrapper{
    display: flex;
    align-items: center;
}
.sort-button{
    display: block;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 16px;
}
.sort-button:last-child{
    margin-right: 0;
}
.sort-panel .active-sort{
    font-weight: 700;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}
.sort-panel p{
    font-size: 15px;
    line-height: 16px;
    margin-right: 8px;
}
.sort-panel button img{
    vertical-align: middle;
}

/* -- STYLES FOR SHOP CARDS -- */

.shop-cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
}
.card{
    width: calc(33.333% - 30px);
}
.card-img{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    cursor: pointer;
}
.card-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.card-img::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background:#46A358;
    opacity: 0;
    transition: 0.5s ease;
}
.card-img:hover::before{
    opacity: 1;
}
.card-img:hover .feature-bar{
    opacity: 1;
}
.card-details{
    margin-top: 12px;
    line-height: 16px;
}
.card-details .name{
    font-size: 16px;
    margin-bottom: 6px;
}
.card-details .price{
    font-size: 18px;
    font-weight: 700;
}

/* -- FEATURE BAR FOR CARDS -- */

.feature-bar{
    position: absolute;
    display: flex;
    align-self: center;
    bottom: 7px;
    column-gap: 10px;
    opacity: 0;
    transition: 0.5s ease;
}
.feature-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
}
.feature-bar button img{
    width: 20px;
    height: 20px;
}

/* -- SALE ON CARDS -- */

.price-wrapper{
    display: flex;
    column-gap: 16px;
}

.price-wrapper .actual-price{
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
}

.sale-flag{
    font-family: "Cera-pro-med";
    padding: 7px 9px;
    position: absolute;
    top: 14px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: #46A358;
    display: flex;
    justify-content: center;
    align-items: center;
}
    


/* -- STYLES FOR PAGINATION -- */

.pagination{
    display: flex;
    justify-content: end;
    margin-top: 90px;
    margin-bottom: 60px;
}
.pagination ul{
    display: flex;
}
.pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 16px;
    margin-right: 10px;

    border: 1px solid #E5E5E5;
    border-radius: 4px;

    cursor: pointer;
}
.pagination li:last-child{
    margin-right: 0;
}
.pagination .active-pag{
    font-weight: 700;
    color: #FFFFFF;
    background: #46A358;
    border-color: #46A358;
}

/* -- INFO-BLOG SECTION -- */

.information-section{
    margin: 140px 0 100px 0;
}

.information-section .info-cards-wrapper{
    display: flex;
    justify-content: space-between;
}

.information-section .info-card{
    position: relative;
    min-width: 48.834%;
    min-height: 250px;
    padding-top: 3%;
    padding-bottom: 3.667%;
    padding-right: 2.5%;
    background: #FBFBFB;
}
.information-section .info-card .img-wrapper{
    position: absolute;
    left: 0;
    bottom: 14px;
    max-width: 48.977%;
    max-height: 292px;
}
.information-section .info-card img{
    max-width: 100%;
    height: 100%;
}

.information-section .info-card .descrtiption{
    max-width: 52.52%;
    margin-left: auto;
}
.info-card .title{
    max-width: 150px;
    margin-left: auto;

    font-family: "Cera-pro-black";
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #3D3D3D;
}
.info-card .text{
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 8px;
}
.information-section .info-card button{
    display: block;
    margin-left: auto;
    margin-top: 24px;
    padding: 11px 28px;
}

.information-section .info-card button::after{
    content: url(/images/icon-arrow-right-white.svg);
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

/* -- BLOG POSTS SECTION -- */

.blog-posts-section{
    margin-top: 138px;
}
.blog-posts-section .blog-posts-section__title{
    font-family: "Cera-pro-bold";
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.blog-posts-section .blog-posts-section__subtitle{
    text-align: center;
    color: #727272;
    line-height: 24px;
}
.blog-posts-section .blog-posts-section__card-wrapper{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.blog-posts-section__card-wrapper .blog-card{
    max-width: 22.334%;
    background: #FBFBFB;
}
.blog-card .blog-img-wrapper{
    max-height: 196px;
}
.blog-card .blog-img-wrapper img{
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}
.blog-posts-section__card-wrapper .blog-card .blog-card-description{
    padding: 15px 0 15px 15px;
}
.blog-card-description .blog-card-descritpion__date-info-text{
    font-family: "Cera-pro-med";
    line-height: 16px;
}
.blog-card-description .blog-card-descritpion__title{
    font-family: "Cera-pro-black";
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;

    max-width: 81%;
    margin: 4px 0;

    cursor: pointer;
}

.blog-card-description .blog-card-descritpion__text{
    line-height: 22px;
    color: #727272;

    max-width: 95.656%;

    cursor: pointer;
}

.blog-card-description .blog-card-descritpion__button{
    font-family: "Cera-pro-med";
    margin-top: 9px;
    border: none;
    background: none;
    color: #3D3D3D;
    line-height: 16px;
}

.blog-card-description button.active{
    color: #46A358;
}

.blog-card-description .blog-card-descritpion__button img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/* -- STYLES FOR REGISTRATION PAGE -- */

.modal-window-container{
    max-width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
}
.close-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}
.modal-close-button{
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    margin-top: 13px;
    margin-right: 13px;
    padding: 0;
    cursor: pointer;
}
.modal-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 300px;
    margin: 0 auto;
}
.registration_button{
    font-family: "Cera-pro-med";
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}
.divider{
    color: #3D3D3D;
    font-size: 16px;
    margin: 0 12px;
}
.focused{
    color: #46A358;
}
.registration-button-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.label-text{
    margin: 0;
    line-height: 16px;
    align-self: start;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.another-registration-actions-container{
    width: 100%;
}
.another-registration-actions-divider{
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 27px;
}
.another-registration-actions-divider::before,
.another-registration-actions-divider::after{
    content: "";
    width: 30.67%;
    border-bottom: 1px solid #EAEAEA;

}
.another-registration-actions-divider::before{
    margin-right: 7px;
}
.another-registration-actions-divider::after{
    margin-left: 7px;
}
input{
    width: 100%;
    display: block;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 12px 0px 12px 14px;
    margin-bottom: 16px;
}
.password-input-wrapper{
    position: relative;
}
.password-input-wrapper::after{
    content: url("../images/hide_password_icon.svg");
    position: absolute;
    display: inline;
    width: 20px;
    height: 20px;
    top: 13px;
    right: 13px;
}
#register-button{
    font-family: "Cera-pro-bold";
    display: block;

    font-size: 16px;
    line-height: 16px;
    
    font-weight: 700;

    width: 100%;
    margin: 0 auto;
    margin-top: 41px;
    padding: 16px 0;
}
.continue-with-button{
    font-family: "Cera-pro-med";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 15px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #727272;

    cursor: pointer;
}
#continue-with-facebook-button::before{
    content: url("../images/facebook_icon.svg");
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
#continue-with-google-button::before{
    content: url("../images/google_icon.svg");
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
.modal-footer-line{
    margin-top: 40px;
    height: 10px;
    background: #46A358;
}