@use 'variables' as vars;

@font-face {
    font-family: 'Montserrat-bold';
    src: url(../../src/fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat-reg';
    src: url(../../src/fonts/Montserrat-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Montserrat-reg';
}
h1{
    font-size: 2.375rem;
}
h2{
    font-size: 1.875rem; // 30px
}
h3{
    font-size: 1.375rem; // 22px
}
h4{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
p.h1{
    font-family: 'Montserrat-bold';
    font-size: 2.375rem;
}
p.h2{
    font-family: 'Montserrat-bold';
    font-size: 1.875rem;
}
p.h3{
    font-family: 'Montserrat-bold';
    font-size: 1.375rem;
}
p.h4{
    font-family: 'Montserrat-bold';
    font-size: 0.875rem;
}
a{
    color: vars.$light-blue-regular;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover{
    color: vars.$red-regular;
}
ul, ol{
    list-style: none;
}

ol ::marker, ul ::marker{
    display: inline-block;
    font-size: 1.125rem;
    color: vars.$red-regular;
    font-weight: 700;
}
button{
    cursor: pointer;
}

.container{
    width: 83.33%;
    margin: 0 auto;
}
.circle-divider{
    width: 6px;
    height: 6px;
    background: vars.$grey-separator;
    border-radius: 50%;
    margin: 0 6px;
}

.link-with-arrow-wrapper{
    display: inline-block;
    margin-bottom: 10px;
}
.link-with-arrow{
    display: flex;
    align-items: center;
    font-family: 'Montserrat-bold';
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.arrow-right-link-icon{
    width: 12px;
    height: 13px;
    stroke: vars.$light-blue-regular;
    transition: 0.3s ease-in-out;
}
.link-with-arrow:hover .arrow-right-link-icon{
    stroke: vars.$red-regular;
}

@media screen and (max-width: 1440px) {
    .container{
        width: 88%;
    }
}

@media screen and (max-width: 600px) {
    p.h1{
        font-size: 1.875rem;
    }
}