$dark-blue-regular: #323264;
$dark-blue-alt: #46466E;
$dark-blue-soft: #686887;

$red-regular: #F0145A;

$light-blue-regular: #24A3FF;
$light-blue-hover: #0085FF;
$light-blue-active: #006CCF;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;

$gradient-red-text: linear-gradient(to right, $red-regular, #EF8080);